@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@500&family=DM+Serif+Display&family=Raleway&display=swap');
:root{
    --color-letra-texto: #8ecae6;
    --color-letra-titulo: #212529;
    --color-fondo: #ececec;
    --color-busqueda: #fff;
    --color-secundario: #feb371;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 62.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #FB924E 20%, var(--color-secundario) 80%);
}

p{
    font-size: 1.6rem;
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'DM Serif Display', serif;
    position: relative;
}

.title p{
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 1.5rem;
}

h3,.adorno{
    font-family: 'Alexandria', sans-serif;
    position: relative;
}


.adorno:before, h3:before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #f79b2b, #ffbe0b);
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
}

.logo{
    width: 9rem;
}

.title{
    color: var(--color-letra-titulo);
    background-color: var(--color-busqueda);
    display: flex;
    justify-items: left;
    flex-direction: column;
    align-items: left;
    margin: 1.5rem;
}

.buscador{
    color: var(--color-letra-titulo);
    background-color: var(--color-busqueda);
    font-size: 2rem;
    width: auto;
    display: flex; 
    flex-direction: row; /*Darle dirección a los elementos*/
    justify-content: center;
    align-items: center;
    margin: 3rem;
    padding-left: 15rem;
}


.recetario{
    color: var(--color-letra-titulo);
    background-color: var(--color-busqueda);
    font-size: 2rem;
    height: 100%;
    display: flex; 
    flex-direction: column; /*Darle dirección a los elementos*/
    justify-content: left;
    align-items: left; /*Alinear los elementos*/
    margin: 2rem;
    padding: 2rem;
}

.populares{
    text-align: left;
    font-size: 2.3rem;
    padding: 1rem;
    display: flex; 
    flex-direction: row; /*Darle dirección a los elementos*/
    justify-content: left;
    align-items: center;
}

.recetario-cards{
    display: grid;
    grid-template-columns: repeat(3,10rem 1fr);
    grid-template-rows: repeat(auto-fill, 10rem 1fr);
    padding: 1.5rem;
    gap: 1em;
    margin: 2rem;
    align-items: center;
}
